.RegisteredBrand-card-style{
    border-radius: 59% 41% 62% 38% / 29% 74% 26% 71% ;
    width: 120px;
    height: 120px;
    margin: 22px;
    background-color: rgba(227, 227, 227, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: ' ';
    box-shadow: 0px 0px 18px 4px rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
    
}

.RegisteredBrand-card-style:hover{
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0px 0px 18px 4px rgb(146, 146, 146);
}