.TopContactUsCard-body-style{
    min-width: 200px;
    height: 130px;
    border-radius: 12px;
    border: 1px solid black;
    background-color: red;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 10px;
    animation: marquee 8s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}