.TopContactUsCard-body-style{
    min-width: 200px;
    height: 130px;
    border-radius: 12px;
    border: 1px solid black;
    background-color: rgba(184, 184, 184, 0.764);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 10px;
}