.PagesCard-container{
    width: 90%;
    margin: auto;
    min-width: 250px;
}

.pageCard-image-style{
    box-shadow: 0px 0px 10px 5px black;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    @media (max-width :767px) {
        height: 30rem;
        background-size: 100%;
    };
    @media (min-width :990px) {
        min-height: 15rem;
        background-size: 60%;
    }
}

.PagesCard-justify-description{
    text-align: justify;
}

.pagesCard-table-style{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px;
}


.pages-card-link-section{
    height: 100px;
    width: 100%;
    background-color: rgb(190, 190, 190);
    display: flex;
    justify-content:space-between;
    align-items: center;
    overflow-y: scroll;
}

.pages-card-link-section-box{
    min-width: 230px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0px 0px 8px 2px rgb(37, 37, 37);
}

.pages-card-link-section-box a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
