.header-body-section-background {
	background: linear-gradient(-45deg, rgb(218, 0, 80), rgb(174, 0, 104), rgb(122, 22, 113),rgb(24, 35, 80) , rgb(0, 19, 32));
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
	height: 40rem;
    display: flex;
	color: white;
    justify-content: center;
    align-items: center;
    @media (max-width : 500px) {
        height: 100%;
        padding: 10px;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
