.header-body-section-background {
	background: linear-gradient(-45deg, rgb(19, 19, 19), rgb(73, 73, 73), rgb(201, 201, 201), rgb(11, 33, 121) ,rgb(24, 35, 80) , rgb(0, 19, 32));
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
	height: 40rem;
    display: flex;
	color: white;
    justify-content: center;
    align-items: center;
    @media (max-width : 500px) {
        height: 100%;
        padding: 10px;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
