body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}

/* برای حذف نوار اسکرول در Firefox */
html {
  scrollbar-width: none; /* هسته اصلی */
}

html::-webkit-scrollbar {
  display: none; /* هسته اصلی */
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.company-name-style{
  background: -webkit-linear-gradient( right ,rgb(0, 35, 176),#002e32, #430000 ,rgb(175, 0, 0) );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ---- FONTS -------- */
.font-lalehar{
  font-family: 'Lalehzar';
  font-weight: bold;
}

.font-Maktab{
  font-family: 'Maktab';
}

.font-Casablanca{
  font-family: 'Casablanca';
  font-weight: bold;
}

/* ---- FONTS CONFIG -------- */

@font-face {
  font-family: 'Lalehzar';
  src: url('./assets/fonts/Lalezar-Font/TTF/Lalezar-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Maktab';
  src: url('./assets/fonts/Maktab/MaktabRita-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Casablanca';
  src: url('./assets/fonts/Far_Casablanca/Far_Casablanca.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
